#content
{
    padding: 30px 0;
}

#content .wrapper
{
    background: var(--white);
    position: relative;
    z-index: 3;
    border: 5px solid var(--light);
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);

    padding: 30px;
}

#content ul,
#content ol
{
    margin: 30px 0 30px 30px;
}

#content li
{
    margin: 15px 0;
    line-height: 1.6;
}