#footer
{
    background: var(--dark);
    position: relative;
    padding: 30px 0 0;
}

#footer .wrapper
{
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px 80px;
    padding: 30px 0;
}

@media(max-width:1140px)
{
    #footer .wrapper
    {
        grid-gap: 20px;
    }
}

@media(max-width:776px)
{
    #footer .wrapper
    {
        grid-template-columns: 1fr;
    }    
}

@media(max-width:776px)
{
    .logo
    {
        display: block;
        margin: 0 0 10px;
    }
}

@media(max-width:500px)
{
    .logo
    {
        text-align: center;
    }
}


#footer ul,
#footer ol
{
    display: block; 
}

#footer li
{
    margin: 0 0 20px;
    display: block;
}

@media(max-width:500px)
{
    #footer li
    {
        text-align: center;
    }
}

#footer li:last-child
{
    margin: 0;
}

#footer li a
{
    color: var(--white);
    text-decoration: none;
}

#footer form
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    align-items: center;
}

#footer label
{
    font-weight: 700;
    font-family: inherit;
    position: absolute;
    top: -20px;
    cursor: pointer;
}

@media(max-width:500px)
{
    #footer label
    {
        width: 100%;
        text-align: center;
    }
}

#footer input
{
    font-family: inherit;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    height: 52px;
    width: 100%;
}

#footer button
{
    font-weight: 700;
    font-size: 18px;
    /* background: var(--gray-dark); */
    /* color: var(--white); */
    /* color: var(--black); */
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 52px;
    transition: .5s;

    background: var(--black);
    color: var(--white);
}

#footer button:hover
{
    background: var(--white);
    color: var(--black);
}

#contact
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:500px)
{
    #contact
    {
        display: block;
    }
}

#contact .social 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width:500px)
{
    #contact .social
    {
        margin: 20px 0 0;
        justify-content: center;
    }
}

#contact .social svg
{
    width: 32px;
    height: 32px;
    fill: var(--gray-dark);
    transition: .5s;
}

#contact .social a:hover svg
{
    fill: var(--white);
}

#copy
{
    text-align: center;
    background: var(--black);
    color: var(--gray-dark);
}

#copy em
{
    font-style: normal;
}

#copy em::before
{
    content: '|';
    display: inline-block;
}

@media(max-width:500px)
{
    #copy em 
    {
        display: block;
    }
    #copy em::before
    {
        display: none;
    }
}

#copy p
{
    padding: 10px 0;
}

#copy a
{
    color: var(--gray-dark);
    text-decoration: underline;
}

#copy a:hover
{
    text-decoration: none;
}

@media(max-width:776px)
{
    #copy 
    {
        font-size: 14px;
        padding: 0 5px;
    }
}