#spacer
{
    height: 100px;
}

#header
{
    color: var(--white);
    padding: 5px 10px;
    background: linear-gradient(180deg, var(--dark) 0%, var(--black) 100%);
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12; 

    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

@media(max-width:1240px)
{
    #header
    {
        padding: 5px 0;
    }
}

#header .wrapper
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media(max-width:996px)
{
    #header .wrapper
    {
        grid-gap: 10px;
    }
}

@media(max-width:996px)
{
    #nav
    {
        margin: 0 0 0 auto;
    }
}

#nav ul
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

@media(max-width:996px)
{
    #nav ul
    {
        display: none;
    }
}

#nav li
{
    /* width: 25%; */
    display: block;
    text-align: center;
}

#nav a
{
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    transition: .5s;
}

#nav svg
{
    display: none;
}

#nav a:hover
{
    color: var(--gray);
}

/* mobile menu button */
#menu
{
    width: 42px;
    height: 42px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z'/%3E%3C/svg%3E");
    cursor: pointer;
    transition: .5s;
}

#menu:hover
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccccc' viewBox='0 0 16 16'%3E%3Cpath d='M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z'/%3E%3C/svg%3E");
}

/* mobile menu */
#nav ul.active
{
    width: 200px;
    height: 210px;

    position: fixed;
    top: calc(50% - 105px);
    left: calc(50% - 100px);
    display: block;
    z-index: 13;
}

#nav ul.active li
{
    width: auto;
    margin: 0 0 10px;
    text-align: left;
}

#nav ul.active a
{
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    padding: 5px 0;
    color: var(--light);
    grid-gap: 10px;
    font-weight: normal;
}

#nav ul.active svg
{
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--light);
}

#phone
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 512 512'%3E%3Cpath d='M256,32c123.5,0,224,100.5,224,224S379.5,480,256,480S32,379.5,32,256S132.5,32,256,32 M256,0C114.625,0,0,114.625,0,256 s114.625,256,256,256s256-114.625,256-256S397.375,0,256,0L256,0z M398.719,341.594l-1.438-4.375 c-3.375-10.063-14.5-20.563-24.75-23.375L334.688,303.5c-10.25-2.781-24.875,0.969-32.406,8.5l-13.688,13.688 c-49.75-13.469-88.781-52.5-102.219-102.25l13.688-13.688c7.5-7.5,11.25-22.125,8.469-32.406L198.219,139.5 c-2.781-10.25-13.344-21.375-23.406-24.75l-4.313-1.438c-10.094-3.375-24.5,0.031-32,7.563l-20.5,20.5 c-3.656,3.625-6,14.031-6,14.063c-0.688,65.063,24.813,127.719,70.813,173.75c45.875,45.875,108.313,71.344,173.156,70.781 c0.344,0,11.063-2.281,14.719-5.938l20.5-20.5C398.688,366.063,402.063,351.656,398.719,341.594z'/%3E%3C/svg%3E");
    background-size: 42px 42px;
    background-position: center center;
    width: 42px;
    height: 42px;
    border-radius: 42px;
    cursor: pointer;
    transition: .5s;    
}

#phone:hover
{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cccccc' viewBox='0 0 512 512'%3E%3Cpath d='M256,32c123.5,0,224,100.5,224,224S379.5,480,256,480S32,379.5,32,256S132.5,32,256,32 M256,0C114.625,0,0,114.625,0,256 s114.625,256,256,256s256-114.625,256-256S397.375,0,256,0L256,0z M398.719,341.594l-1.438-4.375 c-3.375-10.063-14.5-20.563-24.75-23.375L334.688,303.5c-10.25-2.781-24.875,0.969-32.406,8.5l-13.688,13.688 c-49.75-13.469-88.781-52.5-102.219-102.25l13.688-13.688c7.5-7.5,11.25-22.125,8.469-32.406L198.219,139.5 c-2.781-10.25-13.344-21.375-23.406-24.75l-4.313-1.438c-10.094-3.375-24.5,0.031-32,7.563l-20.5,20.5 c-3.656,3.625-6,14.031-6,14.063c-0.688,65.063,24.813,127.719,70.813,173.75c45.875,45.875,108.313,71.344,173.156,70.781 c0.344,0,11.063-2.281,14.719-5.938l20.5-20.5C398.688,366.063,402.063,351.656,398.719,341.594z'/%3E%3C/svg%3E");
}

#phone ul
{
    display: none;
}

#phone ul.active
{    
    display: block;
    position: fixed;
    z-index: 13;
    top: calc(50% - 100px); /* 208 */
    left: calc(50% - 100px); /* 207 */
}

#phone li
{
    display: block;
}

#phone li a
{
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    grid-gap: 10px;
}

#phone svg
{
    width: 32px;
    height: 32px;
    fill: var(--white);
}