#levus-up
{
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='16 12 12 8 8 12'%3E%3C/polyline%3E%3Cline x1='12' y1='16' x2='12' y2='8'%3E%3C/line%3E%3C/svg%3E");
    filter: drop-shadow(0 0 10px rgba(0,0,0,.5));
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.5);
    z-index: 1;
}

#levus-up.active
{    
    visibility: visible;
}