#order
{
    visibility: hidden;
    position: fixed;
    z-index: 4;
    bottom: 20px;
    left: calc(50% - 51px);
    cursor: pointer;
    text-align: center;
    color: var(--white);
    background: var(--dark);
    padding: 5px;
    border: 5px solid var(--white);
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    transition: .5s;
}

#order.active
{
    visibility: visible;
}

#order:hover
{
    transform: translateY(-10px);
}

#order svg
{
    fill: var(--white);
    width: 54px;
    height: 54px;
    display: block;
    margin: auto;
}

#order-form
{
    position: fixed;
    width: 400px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

@media(max-width:500px)
{
    #order-form
    {
        width: 300px;
        left: calc(50% - 150px);        
    }
}

#order-form.active
{
    z-index: 7;
    opacity: 1;
}

#order-form form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    border: 5px solid var(--gray-dark);
    background: var(--black);    
}

#order-form form input
{
    font-family: inherit;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    background: rgba(255,255,255,.1);
    border: 1px solid var(--gray-dark);
    color: var(--white);
}

#order-form form input:focus
{
    border-color: var(--white);
}

#order-form form button
{
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: .5s;
    background: var(--gray-dark);
    color: var(--black);
}

#order-form form button:hover
{
    background: var(--white);
    color: var(--black);
}