#others
{
    padding: 60px 0;
    position: relative;
}

#others::before
{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;

    background: 
        linear-gradient(118deg, 
            rgba(0,0,0,.3) 0%, 
            var(--white) 50%, 
            rgba(0,0,0,.3) 100%);
    filter: blur(100px);
}

#others .wrapper
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

@media(max-width:996px)
{
    #others .wrapper
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:776px)
{
    #others .wrapper
    {
        grid-template-columns: 1fr;
    }
}

#others article
{
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    outline: 5px solid var(--light);
    transition: .5s;
    height: 240px;
    overflow: hidden;
    perspective: 800px;
}

@media(max-width:776px)
{
    #others article
    {
        height: 280px;
    }
}

#others article .card
{
    position: relative;
    width: 100%;
    height: 240px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

@media(max-width:776px)
{
    #others article .card
    {
        height: 280px;
    }
}

/* #others article .card:hover, */
#others article:hover .card
{
    transform: rotateY(180deg);
}

#others article picture,
#others article h1
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#others article picture::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(45deg, 
            rgba(0,0,0,1) 0%, 
            rgba(0,0,0,.5) 5%, 
            rgba(0,0,0,.1) 90%, 
            rgba(0,0,0,0) 100%);
}

#others article picture::after
{
    content: '';
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath d='M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z'/%3E%3Cpath d='M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
}

#others article picture img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#others article h1
{
    padding: 20px;
    transform: rotateY(180deg);
    background: var(--black);
    color: var(--white);
    font-size: 16px;
    margin: 0;
    text-transform: none;
    line-height: 1.7;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
}

#others article h1::before
{
    content: '';
    display: block;
    width: 32px;
    height: 32px;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath d='M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z'/%3E%3Cpath d='M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
}

#others article h1 a
{
    color: var(--white);
    text-decoration: underline;
}

#others article h1 a:hover
{
    text-decoration: none;
}