#others
{
    padding: 60px 0;
    position: relative;
}

@media(max-width:776px)
{
    #others
    {
        padding: 0;
    }    
}

#others::before
{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;

    background: 
        linear-gradient(118deg, 
            rgba(0,0,0,.3) 0%, 
            var(--white) 50%, 
            rgba(0,0,0,.3) 100%);
    filter: blur(100px);
}

#others .wrapper
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

@media(max-width:996px)
{
    #others .wrapper
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:776px)
{
    #others .wrapper
    {
        display: none;
    }
}

#others article
{
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    border: 5px solid var(--light);
    transition: .5s;
    height: 240px;
    overflow: hidden;
    perspective: 800px;
}

#others .center-button
{
    display: none;
}

@media(max-width:776px)
{
    #others .center-button
    {
        display: flex;
    }    
}


