
*,
::after,
::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --white: #fff;
    --ultra-light: #f7f7f7;
    --light: #e9eef1;
    --gray: #ccc;
    --gray-dark: #818181;
    --dark: #17192b;
    --black: #000;
}

html,
body
{
    height: 100%;
}

body
{
    font-family: sans-serif;
    color: var(--dark);
    overflow-x: hidden;
}

#cover
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

#cover::before
{
    content: '';
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark);
    z-index: 1;    
}

.wrapper
{
    width: 1200px;
    margin: auto;
}

@media(max-width:1240px)
{
    .wrapper
    {
        width: 95%;
    }
}

h1
{
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

@media(max-width:776px)
{
    h1
    {
        font-size: 40px;
    }
}

@media(max-width:500px)
{
    h1
    {
        font-size: 30px;
    }
}

h1 > span,
h1 > a
{
    display: inline-block;
    transform: scaleX(.8);
}

h2
{
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 500;
}

@media(max-width:776px)
{
    h2
    {
        font-size: 32px;
    }
}

@media(max-width:500px)
{
    h2
    {
        font-size: 22px;
    }
}

h2 > span,
h2 > a
{
    display: inline-block;
    transform: scaleX(.8);
}

img
{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* del arrow */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]
{
    -moz-appearance: textfield;
}