#slider
{
    margin: 40px 0;
}

#slider::before
{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;

    background: 
        linear-gradient(118deg, 
            rgba(0,0,0,.3) 0%, 
            var(--white) 50%, 
            rgba(0,0,0,.3) 100%);
    filter: blur(100px);
}

#slider .wrapper
{
    background: var(--white);
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    border: 5px solid var(--light);
}

#slider .slides
{
    display: block;
    width: 100%;
    height: 630px;
    overflow: hidden;
    background: var(--black);
    position: relative;
    z-index: 1;
}

@media(max-width:776px)
{
    #slider .slides
    {
        height: 580px;
    }
}

@media(max-width:500px)
{
    #slider .slides
    {
        height: 360px;
    }
}

#slider a
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 6s;
    text-decoration: none;

    position: absolute;
    top: 0;
    left: 0;
}

#slider a.active
{
    opacity: 1;
}

#slider a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    background: 
        linear-gradient(45deg,
         rgba(0,0,0,1) 0%,
         rgba(0,0,0,.8) 1%, 
         rgba(0,0,0,.3) 10%, 
         rgba(0,0,0,.1) 90%, 
         rgba(0,0,0,.8) 99%, 
         rgba(0,0,0,1) 100%);
}

#slider a h1
{
    transition: 6s;
    color: var(--white);
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 10;

    transform: translateY(-400px);
}

#slider a.active h1
{
    color: var(--white);
    text-decoration: none;

    transform: translateY(0);
}

#slider a h2
{
    text-align: center;
    margin: 0;
    transition: 6s;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    z-index: 10;
    position: relative;

    transform: translateY(400px);
}

#slider a.active h2
{
    transform: translateY(0);
}

#slider picture
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slider picture img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}